dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.claude/

# Temp
gitignore

# Uploads (User generated / testing files)
public/uploads/*
!public/uploads/**/.gitkeep

# System Files
.DS_Store
Thumbs.db

# Test outputs & Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
